.notfound-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: #0f0f0f;
  color: #fff;
  /* font-family: Arial, sans-serif; */
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 54px);
}

.notfound-page h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.notfound-page p {
  font-size: 1.5rem;
  margin-bottom: 60px;
}

.breathing-text {
  animation: breathing 3s ease-in-out infinite;
  font-size: 1.2rem !important;
}

@keyframes breathing {
  0%, 100% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

@media (max-width: 768px) {
  .notfound-page {
    min-height: calc(100dvh - 49px);;
  }
  .notfound-page h1 {
    font-size: 2.5rem;
  }

  .notfound-page p {
    font-size: 1.2rem;
  }

  .breathing-text {
    font-size: 1rem !important;
  }
}